#logo:hover{
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#header{
    background-image: url(../img/pracadarepublica.jpg);
    height: 3.25em;
}

#header h1{
    color: white;
}

#imgIntro{
    min-width: 13em;
}

#nav{
    text-align: center;
}

.card-front img{
    min-height: 15em!important;
}

.sidebar-div{
    border-left: 4px solid #32A043;
}

.text-cont{
    max-width: 15em;
}

.navText{
    color: rgba(0, 0, 0, .5);
}

.navText:hover{
    color: rgba(0, 0, 0, .8);
    text-decoration: none;
}

footer{
    margin-top: 80px;
    height: 30vh;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-image: linear-gradient(rgb(153, 153, 153), rgb(207, 207, 179));
    bottom: 0;
}